<a href="{{ url_for('index') }}" class="btn btn-primary">Home Page</a>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">

{% macro render_field(field) %}
  <div class="form-group">
    {{ field.label(class="control-label") }}
    {{ field(class="form-control") }}
    {% if field.errors %}
      <ul class="errors">
        {% for error in field.errors %}
          <li class="error">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

<body>
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="POST" novalidate>
      {{ form.csrf_token }}
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}
      <div class="form-group">
        <div class="remember-me">
          {{ form.remember }}
          {{ form.remember.label }}
        </div>
      </div>
      {{ form.submit }}
    </form>
  
    <script>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            alert("{{ message }}");
          {% endfor %}
        {% endif %}
      {% endwith %}
    </script>  
  </body>
  